body{
    display: flex; 
    flex-direction: column; 
    background-color: bisque;
}

.body_full {
    display: flex; 
    flex-direction: column;
}

.nav-bar {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    gap: 20px;
}

form button {
    margin-top: 5em;
    width: fit-content;
    background-color: blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    min-width: 200px;
}

form button:hover {
    background-color: darkblue;
    cursor: pointer;
}